body {
  margin: 0;
}

.buttons {
  text-align: center;
}
.buttons a {
  display: inline-block;
  margin: 0 3px 0;
  font-family: arial;
  font-size: 14px;
}
.margen-button{
  margin-top: 50px;
}

.button {
  padding: 10px 14px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-family: arial;
}

.button.blue {
  background-color: #028bfb;
}

.button.green {
  background-color: green;
}

.button.white {
  color: gray;
  background-color: white;
}

header.background1 {
  background-image: url("images/bg.jpeg");
  background-size: cover;
  background-position: center;
  height: 500px;
}

header.background1 .logo {
  width: 180px;
  margin-top: 0;
  float: left;
}

header.background1 .logo a img {
  width: 100%;
  margin-top: 60px;
  margin-left: 210px;
  margin-bottom: 30px;
}

header.background1 nav.navbar {
  color: white;
  float: right;
  margin-top: 65px;
}

header.background1 nav.navbar ul {
  margin-right: 160px;
}

header.background1 nav.navbar ul li {
  display: inline-block;
  margin-right: 30px;
  font-family: verdana;
  font-size: 13px;
  color: grey;
}

header.background1 .content {
  font-family: arial;
  font-size: 25px;
  color: white;
  clear: both;
  width: 40%;
  text-align: center;
  margin: 30px auto 0;
}

header.background1 .text1 {
  font-family: arial;
  color: white;
  font-size: 12px;
  text-align: center;
  width: 40%;
  margin: 30px auto;
}

main {
  width: 60%;
  margin: 0 auto 0 auto;
  padding-top: 50px;
}

section {
  width: 100%;
  background-color: #f5f4f4;
  border-top: 1px solid #d6d4d4;
  border-bottom: 1px solid #d6d4d4;
  padding: 50px 0;
}

.containerInfo {
  width: 60%;
  margin: 0 auto;
}

main .title2, section.info .containerInfo .title2 {
  font-family: arial;
  color: black;
  font-size: 16px;
  text-align: center;
}

main .text2, section.info .containerInfo .text2 {
  font-family: arial;
  color: grey;
  font-size: 12px;
  text-align: center;
}

main .image_persons {
  width: 100%;
  text-align: center;
}

main .image_persons img {
  width: 50%;
}

section.info .containerInfo .button.blue {
  text-align: center;
}

section.info .p {
  margin-bottom: 500px;
}

.containerCS {
  margin: 60px 200px;
}

.containerCS .contact {
  width: 20%;
  float: left;
  text-align: left;
  padding-left: 200px;
}

.containerCS .subscribe {
  width: 20%;
  float: left;
  text-align: left;
  padding-left: 200px;
}

#contacto {
  font-weight: bold;
  color: red;
}

#desafio {
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  color: #696969;
}
