body {
  margin: 0;
}

.button {
  padding: 10px 7px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-family: arial;
}

.button.blue {
  background-color: #028bfb;
}

.button.green {
  background-color: green;
}

.button.white {
  color: gray;
  background-color: white;
}


header.background1 {
  background-image: url("images/bg.jpeg");
  background-size: cover;
  background-position: center;
  height: 500px;
}

header.background1 .logo {
  width: 180px;
  margin-top: 0;
  float: left;
}

header.background1 .logo a img {
  width: 100%;
  margin-top: 60px;
  margin-left: 210px;
  margin-bottom: 30px;
}

header.background1 nav.navbar {
  color: white;
  float: right;
  margin-top: 65px;
}

header.background1 nav.navbar ul {
  margin-right: 160px;
}

header.background1 nav.navbar ul li {
  display: inline-block;
  margin-right: 30px;
  font-family: verdana;
  font-size: 13px;
  color: grey;
}

header.background1 .content {
  font-family: arial;
  font-size: 25px;
  color: white;
  clear: both;
  width: 40%;
  text-align: center;
  margin: 30px auto 0;
}

header.background1 .buttons {
  text-align: center;
  margin-top: 50px;
}

header.background1 .text1 {
  font-family: arial;
  color: white;
  text-align: center;
  width: 55%;
  margin: 30px auto;
}

main.sec2 .title2 {
  font-family: arial;
  color: black;
  text-align: center;
  width: 55%;
  margin: 30px auto;
}

main.sec2 .text2 {
  font-family: arial;
  color: grey;
  text-align: center;
  width: 55%;
  margin: 30px auto;
